<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Actual Application</title>
</head>
<body align = "center">
<div th:switch="${transferList}">
    <h2 th:case="null">No transfer history yet!</h2>
    <div th:case="*">
        <h2>Transfer History</h2>
        <table align = "center">
            <thead>
            <tr>
                <th>ReferenceId</th>
                <th>ToAccount</th>
                <th>Amount</th>
                <th>Date</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="transfer : ${transferList}">
                <td th:text="${transfer.referenceId}"></td>
                <td th:text="${transfer.toAccount}"></td>
                <td th:text="${transfer.amount}"></td>
                <td th:text="${transfer.transferDate}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="account/transfer">Transfer more</a></p>
</div>
</body>
</html>